*.pyc
__pycache__
*.swp
offline
d3rlpy_logs
datasets
out_*.txt
MUJOCO_LOG.TXT
test.sh
test_*.txt
*.pt
*.png
*.json
output_*.txt
*.hdf5
*.log
docker*
*.tar.gz
d3rlpy_*
dataset/antmaze
dataset/d4rl
dataset/gym_back
dataset/macaw/dataset
dataset/macaw/walker_dir
draw.txt
offline_tasks
output_files
result_files
run_files
run_files_temp
single_run_files
toy.*
rlkit
